#Basados en el tutorial pegamos esto
#Para optimizar el contexto de construcción y reducir el tamaño de la imagen, 
#se excluyen cachés, entornos virtuales, metadatos del control de versiones, entre otros. 
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.env
.venv/
.git/
.gitignore
README.md